@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: rgba(217, 189, 218, 0.5);
  box-sizing: border-box;
  background: url("https://media.giphy.com/media/3ov9jUCYetT3GVwcy4/giphy-downsized-large.gif")
    no-repeat;
  background-size: cover;
}
.container-fluid {
  padding-top: 90px;
}
.card {
  font-family: "Mate SC", serif;
  text-align: center;
  background: white;
  margin: auto;
  margin-top: 30px;
  font-size: 90px;
  height: 420px;
  width: 250px;
  padding-top: 140px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  box-shadow: inset 0 0 20px black;
  box-shadow: 2px 2px 0px hsl(300, 85%, 13%);
}
:before {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 80px;
}
.spade:before,
.spade:after {
  content: "\2660";
}
.club:before,
.club:after {
  content: "\2663";
}
.heart:before,
.heart:after {
  content: "\2665";
  color: red;
}
.diamond:before,
.diamond:after {
  content: "\2666";
  color: red;
}
.spade:after,
.club:after,
.heart:after,
.diamond:after {
  transform: rotate(180deg);
  right: 20px;
  display: flex;
  text-align: right;
  position: relative;
  top: 30px;
  left: -20px;
  font-size: 80px;
}
.cardButton {
  margin-top: 35px;
  border-radius: px solid rgb(218,  137,  32);
  text-align: center;
}
